@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  body {
    @apply font-sans text-secondary-800 bg-secondary-50;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-heading font-bold text-secondary-900;
  }
}
